.menu {
   background: url("../img/bg-intro.png") no-repeat center;
   background-size: cover;
   height: 755px; 
   text-align: center;
   h1 {
       @include tipo-2(48);
       margin: 180px;
       color: $branco;
       @include separador(#fff);
       line-height: 1;
       animation: AnimacaoTitulo .9s forwards;
    }
}

.menu-container {
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    
    img {
        width: 150px;
    }
    ul {
        display: flex;
        a {
            color: $branco;
            padding: 10px;
            @include tipo-1(18);
            transition: .5s;
            &:hover {
                color: #ff7e2b;
            }
          }
      }      
}

@media (max-width: 739px) {
    .menu {
        height: 600px;
    }
    .menu p {
        margin: 60px;
    }
    .menu-container ul {
        margin-top: 20px;
    }
}


@keyframes AnimacaoTitulo {
    from {
      opacity: 0;
      transform: translate3d(-100px, -100px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0px, 0, 0);
    }
  }
